/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* #region */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/*#endregion */

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.main-container{
	width: 876px;
	margin: 0 auto;
	
}

.header-container{
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 2% 0;

	background-color: white;
}

.nav-boi {
	display: flex;
	justify-content: space-evenly;
}

.header-container nav a {
	width: 100px;
	text-decoration: none;
	color: darkgray;
	
}

section .innov{
	display: flex;
	padding: 5% 0;
	justify-content: space-around;
	align-items: center;
	border-bottom: 1px solid black;
}

section .innov h1{
	font-size: 72px;
	text-align: center;
}

.inPar{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inPar a {
	text-decoration: none;
	color: darkgray;
	text-align: center;
	padding: 5px 40px;
	border: 1px solid black;
}

.features{
	display: flex;
    line-height: 20px;
    padding: 2% 2%;
}

.center-image{
	display: flex;
	padding: 2% 0;
}

.bottom-info{
	display: flex;
	padding: 3% 0;
	border-bottom: 1px solid black;
	line-height: 20px;
}

.bottom-info div{
	width: 33%;
}

footer{
	display: flex;
	padding-top: 3%;
	flex-direction: column;
}

.copy{
	align-items: center;
	text-align: center;
	padding: 4% 0;
}

/* second page stuff */
.top-banner{
	padding: 1% 0;
}

.top-info{
	padding: 4% 0;
	border-bottom: 1px solid black;
	line-height: 20px;
}

.top-info h1 {
	font-size: x-large;
}

.mid-boxes{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 3% 0;

	border-bottom: 2px solid black;
}

.mid-boxes div{
	margin: 2% 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: start;
	width: 47%;
	border: 1px solid black;
	padding: 2%;
	background-color: gainsboro;
	
}

.mid-boxes div a{
	text-decoration: none;
	color: black;
	padding: 5px 25px;
	font-size: small;
	border: 1px solid black;
	border-radius: 5px;
	background-color: ghostwhite;
}

.mid-boxes p {
	line-height: 20px;
}

.bot-info{
	display: flex;
	padding: 4% 0;
}

.bot-info div{
	justify-content: space-between;
}

.bot-info p{
	line-height: 20px;
	padding: 0 5% 0 0;
}

.bot-info ul{
	padding-left: 5%;
	list-style-type: square;
	line-height: 200%;
}


/* @media queries */
/* Chrome Responsive 800px */
@media (max-width: 800px) {
	.main-container{
		font-size: 15px;
		width: 800px;
		padding: 0 3%;
	}

	.header-container{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .header-left{
        width: inherit;
    }

    .nav-boi{
        flex-direction: row;
        justify-content: space-between;
    }

    .header-container nav a {
		text-decoration: none;
		color: darkgray;
		padding: 3% 0;
    }
    
    .innov-img {
        display: none;
    }

    .innov{
        align-items: center;
        justify-items: center;
        padding-bottom: 3%;
        border-bottom: 3px solid black;
    }

    .inPar{
        margin-bottom: 2%;
    }

	section .innov img{
        display: none;
        
    }
    
    .center-image .middle-img {
        width: 100%;
        height: auto;
        padding: 0% 0%;
    }
}

@media (max-width: 500px) {
    .main-container{
		font-size: 20px;
		width: 100%;
		padding: 0 3%;
    }

    .header-left{
        width: 500px;
    }

    .header-right{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: auto;
        padding-bottom: 3%;
        border-bottom: 1px solid black;
    }
    
    .nav-boi{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header-container nav a {
        display: flex;
        width: 500px;
        height: 75px;
        
        align-items: center;
        justify-content: center;
        text-align: center;

        border-bottom: 1px solid black;
    }

    .inPar {
        margin-bottom: 10%;
    }

    .features{
        flex-wrap: wrap;
    }

    .features div {
        margin: 8% 0;
    }

    .bottom-info{
        flex-wrap: wrap;
    }

    .bottom-info div{
        width: 100%;
        margin: 8% 0;
    }

}